@use "../../base/functions" as func;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;

.main-container {
  @include flex(column);
  @media (width > func.rem(768)) {
    height: v.$desktop-form-block-size;
    width: 100%;
    margin-inline: 3rem;
    padding: v.$desktop-outside-gap;
  }
  @media (width <= func.rem(768)) {
    background: c.$white;
    border-radius: 1rem;
    padding: 2rem;
    translate: 0 func.rem(-75);
    margin-bottom: 2rem;
  }

  &__text-container {
    margin-block: 2rem;
    @media (width <= func.rem(768)) {
      margin-top: 0;
    }
  }

  &__header-text {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: c.$marine-blue;
  }

  &__instructive-text {
    color: c.$cool-gray;
    line-height: 1.5em;
  }
}
