@use "../base/functions" as func;

$main-transition: 300ms ease-in-out;
$desktop-form-block-size: func.rem(600);
$desktop-form-inline-size: func.rem(1000);
$desktop-outside-gap: 1rem;

//* Toggle Switch
$switch-width: 2.8rem;
$switch-height: 1.4rem;
$switch-dot-size: 1rem;
$switch-dot-gap: 0.35rem;

$checkbox-size: 1.25rem;
