@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.steps-list {
  background-size: cover;
  background-repeat: no-repeat;
  counter-reset: my-custom-counter;
  @media (width > func.rem(768)) {
    margin-left: v.$desktop-outside-gap;
    margin-block: v.$desktop-outside-gap;
    padding-top: v.$desktop-outside-gap;
    padding-left: v.$desktop-outside-gap;
    height: func.rem(568);
    width: func.rem(274);
    background-image: url("./assets/icons/bg-sidebar-desktop.svg");
  }
  @media (width <= func.rem(768)) {
    height: func.rem(172);
    width: 100dvw;
    translate: calc(v.$desktop-outside-gap) * -1;
    height: 175px;
    background-image: url("./assets/icons/bg-sidebar-mobile.svg");
    @include flex(row, center, flex-start);
    padding-top: 1rem;
  }
}
